@model OnlineLibrary.Models.Books

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalTerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalTerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penulis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penulis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusKetersediaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusKetersediaan)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model._id}) |
    <a asp-action="Index">Back to List</a>
</div>
