@model IEnumerable<OnlineLibrary.Models.Books>

@{
    ViewData["Title"] = "Daftar Buku";
}

<h1>Daftar Buku</h1>

<p>
    <a asp-action="Create" style="text-decoration: none;"><i class="bi bi-plus-square text-success"></i> TAMBAH BUKU</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalTerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penulis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahHalaman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusKetersediaan)
            </th>
            <th></th>
        </tr>
    </thead>*@
    
    <div class="container-fluid">
        <div class="row row-cols-lg-4">
            
     
@foreach (var item in Model) {
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://media.suara.com/pictures/970x544/2022/01/05/18169-ilustrasi-buku-atomic-habits.jpg" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Judul)</h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Kategori)<br>
                            @Html.DisplayFor(modelItem => item.StatusKetersediaan)
                        </p>
                    <div class="row">
                        <a href="#" class="btn btn-primary col-6">Go somewhere</a>
                        <div class="btn-group col-6" role="group" aria-label="Basic outlined example">
                          @*<button onclick='@Html.ActionLink("Edit", "Edit", new { judul = item.Judul, id = item._id  })' type="button" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                          </button>*@
                          <i class="bi bi-pencil-square"></i>
                          @Html.ActionLink(" ", "Edit", null, new { @class="bi bi-pencil-square" })
                          <button onclick='@Html.ActionLink("Details", "Details", new { judul = item.Judul, id = item._id  })' type="button" class="btn btn-outline-primary">
                              <i class="bi bi-book"></i>
                          </button>
                          @*<button onclick='@Html.ActionLink("Delete", "Delete", new { judul = item.Judul, id = item._id  })' type="button" class="btn btn-outline-primary">
                              <i class="bi bi-trash3" style="color: red"></i>
                          </button>*@
                        </div>
                    </div>
                    
                  </div>
                </div>
            </div>
        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalTerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penulis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahHalaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusKetersediaan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { judul = item.Judul, id = item._id  }) |
                @Html.ActionLink("Details", "Details", new { judul = item.Judul, id = item._id  }) |
                @Html.ActionLink("Delete", "Delete", new { judul = item.Judul, id = item._id  })
            </td>
        </tr>*@
}       </div>
    </div>
@*</table>*@
