@model IEnumerable<OnlineLibrary.Models.Books>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Daftar Buku";
}

<h1>Daftar Buku</h1>

<p>
    <a asp-action="Create" style="text-decoration: none;"><i class="bi bi-plus-square text-success"></i> TAMBAH BUKU</a>
    
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalTerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penulis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumlahHalaman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusKetersediaan)
            </th>
            <th></th>
        </tr>
    </thead>*@
    
    <div class="container-fluid ">
        <div class="row row-cols-lg-4" style="height: 22rem;">
    
    @{
        int count = 0;
    }

@foreach (var item in Model)
{
    if (count > 1 && count % 4 == 0)
        {
            @:</div><div class="row row-cols-lg-4 mt-3" style="height: 22rem;">
            
        }
        count = count + 1;  
        <div class="col h-100">
            <div class="card m-auto w-100 h-100" @*style="width: 18rem;"*@>
                <img src="https://media.suara.com/pictures/970x544/2022/01/05/18169-ilustrasi-buku-atomic-habits.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">
                        @if(item.Judul.Length <= 36)
                        {
                            @Html.DisplayFor(modelItem => item.Judul)
                        }else{
                            var x = item.Judul.Substring(0, 36)+"...";
         
                            <p>@x</p>
                        }
                        </h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Kategori)<br>
                        @if(item.StatusKetersediaan){
                            <input class="form-check-input" type="checkbox" id="status" checked disabled/> 
                            <label class="form-check-label" for="status">Status Ketersediaan</label>
                        }else{
                            <input class="form-check-input" type="checkbox" id="status" disabled/> 
                            <label class="form-check-label" for="status">Status Ketersediaan</label>
                        }
                    </p>
                <div class="row w-100 justify-content-between mb-2" style="position:absolute; bottom: 0;">
                    @if(Context.Session.GetString("Nama") != null && item.StatusKetersediaan)
                    {
                        @Html.ActionLink("Pinjam", "pinjambuku", "RentBooks", new { bookId = item._id}, new { @class="btn btn-primary col-4"})        
                    }else{
                        @Html.ActionLink("Pinjam", "pinjambuku", "RentBooks", new { bookId = item._id}, new { @class="btn btn-secondary col-4 disabled"})      
                    }
                    @if(Context.Session.GetString("Role") == "Admin"){
                    @:<div class="btn-group col-8" role="group" aria-label="Basic outlined example">
                        @Html.ActionLink("", "Edit", "Books", new { id = item._id  }, new { @class="btn btn-def btn-outline-primary bi bi-pencil-square" })
                        @Html.ActionLink("", "Details", "Books", new { id = item._id  }, new { @class="btn btn-def btn-outline-primary bi bi-book" })
                        @Html.ActionLink("", "Delete", "Books", new { _id = item._id  }, new { @class="btn btn-def btn-outline-danger bi bi-trash3 text-red", @style=":hover { color: #fff !important;}" })      
                    @:</div>
                    }
                </div>
                    
                </div>
            </div>
        </div>     
}
        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalTerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penulis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahHalaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusKetersediaan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { judul = item.Judul, id = item._id  }) |
                @Html.ActionLink("Details", "Details", new { judul = item.Judul, id = item._id  }) |
                @Html.ActionLink("Delete", "Delete", new { judul = item.Judul, id = item._id  })
            </td>
        </tr>*@
    </div>
@*</table>*@
