@model IEnumerable<OnlineLibrary.Models.RentBooks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NISPeminjam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudulBuku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalPeminjaman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenggatPengembalian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NISPeminjam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JudulBuku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalPeminjaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenggatPengembalian)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
